.dev-tools-container {
   position: absolute;
   left: 1rem;
   top:  1rem;

   z-index: 10;
}

.dev-btn {
   margin: 1rem 0; 

   border: 2px solid rgb(240, 240, 240, .8);
   color: white;
   font-family: monospace;
   padding: 1rem 2rem;
   border-radius: 0.4rem;

   cursor: pointer;

   transition: .24s ease-in-out background-color;
}

.dev-btn:hover {
   background-color: rgb(240, 240, 240, .2);
}

.dev-btn:active {
   background-color: rgb(240, 240, 240, .5);
}


.modes-container {
   display: flex;
   width: 20rem;
   justify-content: space-around;
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);

   z-index: 10;
}